
---------------------------------------------------------------
This instance is managed by Ansible and owned by Andrew Jackson
---------------------------------------------------------------

Information.... {{ansible_distribution}} {{ansible_distribution_version}} on {{ansible_machine}} {{ansible_product_name}}
CPUs........... {{ansible_processor_count}} vCPU with {{ansible_processor_cores}} processor core(s)
Memory Total... {{ansible_memtotal_mb}} MB
Provisioned.... {{ansible_date_time.date}} at {{ansible_date_time.time}}
